* {
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box; 
}

html, body {
    width: 100%;
    height: 100%;
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    background-color: #fff;
}

#main {
    width: 100%;
    background-color: black;
}

#landing {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

#heading {
    margin-top: 70px;
}

#heading h1 {
    margin-left: 40px;
    line-height: 1;
    opacity: 0.6;
    font-size: 9vw;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 170px;
}

/* used to align h5 always at right */
.blocktext {
    width: fit-content;
}

.blocktext h5 {
    text-align: right;
    font-size: 18px;
}

#info {
    margin-top: 100px;
    padding-right: 40px;
}

#info p {
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
}

#landing_footer {
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

#landing_footer a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#iconset {
    display: flex;
    gap: 5px;
}

#landing_footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

#second_page {
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 8vw;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.projects {
    width: 100%;
    border-top: 1px solid white;
    padding: 2.4vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.projects h1 {
    font-size: 6vw;
    opacity: 0.7;
    text-transform: uppercase;
}

.projects img {
    height: 140%;
    width: 30%;
    z-index: 999; 
    position: absolute;
    display: none;
}

.last_project {
    border-bottom: 1px solid white;
}


#about {
    width: 100%;
    background-color: black;
    padding: 10vw;
    padding-left: 35vw;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 4vw;
}

#my_image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#intro_about {
    width: 25rem;
}

#intro_about h5{
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#intro_about p {
    margin-bottom: 20px;
    line-height: 1.7;
}

#intro_about a{
    padding: 12px 20px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    font-size: 0.8rem;
    text-decoration: none;
}

#connect {
    background-color: black;
    color: #fff;
    padding: 2vw 4vw;
    padding-bottom: 10vw;
    line-height: 1.5;
}

#connect h5 {
    opacity: 0.6;
    font-size: 0.9rem;
    text-transform: uppercase;
}

#connect h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    background-color: black;
    color: #fff;
}

#date_time {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#handles {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#handles a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}